/*
@font-face {
  font-family: 'SpaceMono-Regular';
  src: 
  url('../fonts/SpaceMono-Regular.woff') format('woff'), 
  url('../fonts/SpaceMono-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'Theinhardt-Rg';
  src: url('../fonts/Theinhardt-Rg.eot?#iefix') format('embedded-opentype'), url('../fonts/Theinhardt-Rg.woff') format('woff'), url('../fonts/Theinhardt-Rg.ttf')  format('truetype'), url('../fonts/Theinhardt-Rg.svg#Theinhardt-Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solanel-Medium';
  src: url('../fonts/Solanel-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Solanel-Medium.woff') format('woff'), url('../fonts/Solanel-Medium.ttf')  format('truetype'), url('../fonts/Solanel-Medium.svg#Solanel-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
