//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Plugins
//   4. Color
//   5. Typography
//   6. Navigation
//   7. Off-canvas
//   8. Layout
//   9. Home
//   10. Menu / Food
//   11. Find Us
//   12. Story
//   13. Hire Us
//   14. Contact
//   15. Page
//   16. Footer


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

// 2. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
}

.loader {
  z-index: 9;
  position: fixed;
  background: url(/uploads/splash.jpg) no-repeat center center fixed; 
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
  opacity: 1;
  transition: $primary-transition;
  visibility: visible;
}

.home .navigation {
  z-index: 8;
  width: 100%;
  @include links ($black,$dark-gray)
  .cell {
	z-index: 8; 
  }
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

:focus {
  outline: 0;
}

// 3. Plugins
// ----------

.turbolinks-progress-bar {
  height: 5px;
  background-color: $primary-color;
}

// 4. Color
// --------

.white {
  color: $white;
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

// 5. Typography
// -------------

.underline {
  border-bottom: 1px solid $black;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 1px solid $white;
}


// 6. Navigation
// -------------

.navigation {
  width: 100%;
  @include links ($black,$dark-gray)
  .cell {
	z-index: 14; 
  }
}

.hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }
}

// 7. Off-canvas
// -------------

.off-canvas {
  @include links ($black,$dark-gray)
}

footer {
  z-index: 11;
}

.hamburger-inner {
  z-index: 11;
  &,
  &::before,
  &::after {
    background-color: $black;
  }
}

.hamburger {
  z-index: 11;
  &.is-active {
    .hamburger-inner {
      &,
      &::before,
      &::after {
        background-color: $black;
      }
    }
  }
}


.wrapper {
  min-height: 100vh;
  padding: 1rem;
  @include breakpoint(medium) {
    padding: 2rem;
  }
  @include breakpoint(large) {
    padding: 3rem;
  }
}

.orbit-image {
  height: 100%;
  width: auto;
}

.is-drilldown {
  width: 100% !important;
  max-width: 100% !important;
}

.orbit-controls {
  width: 100vw;
}

.orbit-previous, .orbit-next {
  height: 100%;
  width: 50vw;
}

.orbit-previous {
  cursor: url('/assets/img/arrow_back_new.svg'), auto;
}

.orbit-next {
  cursor: url('/assets/img/arrow_forward_new.svg'), auto;	
}
