//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Sections
//   6. Excerpt
//   7. Page
//   8. Contact

// 1. Global
// ---------

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:focus {
outline: 0;
}

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--black;
  color: $color--white;
}

a { 
  transition: $primary-transition;
}


// 2. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 3. 404
// ------

.info {
  padding: 2rem; 
        @include breakpoint(small only) {
  padding: 1rem;
  }
}

footer {
  padding: 2rem;
        @include breakpoint(small only) {
  padding: 1rem;
  }
}

.footer_socials {
  z-index: 1000;
}

// 4. Navigation
// -------------

.top-bar-right-mobile {
  padding-top: 9px;
  z-index: 1000;
}

.off-canvas {
  padding: 2rem;
  font-size: 1.5rem;
      @include breakpoint(small only) {
  padding: 1rem;
  }
}

.top-bar {
   @include breakpoint(small only) {
  padding: 1rem;
  }
}

.nav__title {
//   @include button(false, transparent, transparent, $black, solid);
  font-family: $header-font-family;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  padding: 0rem;
}

.position-right {
    @include breakpoint(small only) {
  width:300px;
  }
}

.carousel {
  background: $white;
}

.carousel-cell {
  width: 100%;
  height: calc(100vh - 190px);
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 190px);
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
}

.project__status {
  padding: 1rem;
}


.contact {
    background: $black;
    color: $white;
    a { 
    color: $white; 
    }
  }
  
.contact .hamburger-inner {
  &,
  &::before,
  &::after {
    background-color: $white;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }
}

.contact .off-canvas {
  background: $black;
}

.off-canvas {
  border-left: $black 1px solid;
}

.contact .off-canvas {
  border-left: $white 1px solid;
}

.main-content {
  /* flex: 1; would be enough but it looks bad in IE */
  flex: 1 0 auto;
}

.off-canvas-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}