---
layout: default
---

{% if page.images %}
<div class="grid-x align-center">
  <div class="small-12 cell">

    <div class="swiper-container carousel--hero home__hero__image">
      <div class="swiper-wrapper">
        {% for image in page.images %}
        <div class="swiper-slide small-12 cell text-center">
          <img class="orbit-image" src="{{ image }}">
        </div>
        {% endfor %}
      </div>
    </div>
  
  </div>
</div>
{% elsif page.video %}
<div class="grid-x grid-padding-x align-center">
  <div class="small-12 medium-10 large-8 cell">
  	<div class="responsive-embed widescreen">
  	   <iframe src="https://player.vimeo.com/video/{{ page.video }}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  	</div>
  </div>
</div>
{% endif %}

